@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.95rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

/* Theme Toggler */

.theme-toggle .bi-sun{
    background-color: var(--bs-warning-bg-subtle);
    color: var(--bs-warning) !important;
}

.theme-toggle .bi-moon{
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-primary) !important;
}

.theme-toggle:hover .bi-sun{
    transition: all .2s ease-out;
    background-color: var(--bs-warning);
    color: var(--bs-light) !important;
}

.theme-toggle:hover .bi-moon{
    transition: all .2s ease-out;
    background-color: var(--bs-primary);
    color: var(--bs-light) !important;
}

html[data-bs-theme="light"] .theme-toggle .bi-sun,
html[data-bs-theme="dark"] .theme-toggle .bi-moon {
    cursor: pointer;
    padding: 4px 6px;
    display: block;
    font-size: .85rem;
    color: #FFF;
    border-radius: 50%; /* Makes the icon container round */
    width: 32px; /* Set width and height to ensure the container is a circle */
    height: 32px;
    text-align: center; /* Center the icon within the circle */
    line-height: 25px; /* Center the icon vertically */
    transition: all .2s ease-out;
}

html[data-bs-theme="light"] .theme-toggle .bi-moon {
    display: none;
}

html[data-bs-theme="dark"] .theme-toggle .bi-sun {
    display: none;
}